#bottom {
    position: absolute;
        bottom: 0;
        left: 0;

    width:90vw
        
}

#message {
  appearance: none;
  width: 100%;
  max-width: 500px;
  border: none;
  padding: 10px 11px 11px 11px;
  border-radius: 3px;
  box-shadow: none;
  outline: none;
  margin: 0;
  box-sizing: border-box; 
}

.container {
    border: 2px solid white;
    border-radius: 5px;
    width: fit-content;
    padding: 10px;
    margin: 10px 10px;
  }

  /* Style time text */
.time-right {
    color: #aaa;
    margin: 10px 10px;
    font-size: small;
  }

  .time-left {
    color: #aaa;
    margin: 10px 10px;
    font-size: small;
  }