ion-button[color="dark"]{
    text-transform: initial;
    text-align: justify;
}

ion-content {
    --background: var(--ion-color-success);
}

ion-card-title {
    text-align: center;
}

ion-card-subtitle {
    text-align: center;
}

