<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Barter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
<ion-list >
  <ion-item color="success">
    <ion-avatar slot="start">
      <img src="https://scontent.fcrk2-2.fna.fbcdn.net/v/t1.15752-9/334256445_928450858328171_4826386405614923109_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeGc2EZf7sYuAUImOXcYb2tP8iTfkX36WOfyJN-RffpY5zDahJnCFVIdstkY0zqLn_jUEWYNCIDCzGyKiKvmpdo0&_nc_ohc=J8FloI2N0-gAX97HqXG&_nc_ht=scontent.fcrk2-2.fna&oh=03_AdShlLOEcB5HNs6ot1k8kUv5s6nZhnBx4leZE6Wi5J0KOA&oe=642944BA">
    </ion-avatar>
    <ion-label>
      <h1>Angela Galvez</h1>
      <p>Rating Score: <span class="money">80%</span> likes this user.</p>
    </ion-label>
  </ion-item>
  
    <ion-card>
      <img alt="Silhouette of mountains" src="https://media.karousell.com/media/photos/products/2023/2/24/used_iphone_6_1677220854_5cdcf30e.jpg" />
      <ion-card-header>
        <ion-card-title>IPHONE 8 - 256GB</ion-card-title>
        <ion-card-subtitle>Used but not abused</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Trading my 3 yr old Iphone 8 256gb 4gb ram.
        No issues.
        Pref: Cash or Samsung Galaxy A10
      </ion-card-content>
    </ion-card>
</ion-list>
  <ion-button class="userOptions" expand="block" color="success" size="large">Negotiate</ion-button>
  <ion-button class="userOptions" expand="block" color="light"  size="medium">Offer</ion-button>

<ion-card-content>
  <ion-item lines="none">
    <ion-label>
      Top Offer: <p>Nate12: 6k</p>
    </ion-label>
  </ion-item>
</ion-card-content>
</ion-card>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="success">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
